{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TO DO{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="static/css/styles.css">
{% endblock %}



{% block content %}

{% for task in todo_tasks: %}
<h1><a href={{url_for("complete", task=task)}} class="uncomplete">{{task}}</a></h1>
{% endfor %}

{% for task in completed_tasks: %}
<h1><a href={{url_for("decomplete", task=task)}} class="complete">{{task}}</a></h1>
{% endfor %}

<hr>

<div class="panel-body">
  {{ wtf.quick_form(form, form_type="basic") }}
</div>

{% endblock %}
